body {
	padding-top: 15px;
}



#infoSearch{
	z-index: 2;
	position: relative;
	cursor:pointer;
	margin-left: 10px;
	margin-right:-60px;
}

#infoConnected{
	z-index: 2;
	cursor:pointer;
	position: relative;
	left:45px;
}

#btnSend {
	margin-left: 10px;
}

#btnConnected {
	margin-left: 10px;
}

#propertiesBox {
	overflow: auto;
	height: 612px;
	width: auto;
	border: 1px solid #CCCCCC;
}

.col{
	margin-left: 10px;
	z-index: 1;
	position: relative;
}

#graphContainer{
	margin-left:-5px;
}

.dropdown-item {
	cursor: pointer;
}
.dropdown-item:active,
.dropdown-item.active {
  color: white !important;
}


svg {
	border: 1px dashed #CCCCCC;
}

circle {
	cursor: pointer;
	stroke-width: 1.5px;
}

text {
	font: 10px arial;
	pointer-events: none;
}

path {
	stroke: DimGrey;
	stroke-width: 1.5px;
}
