/*$primary:#284570;*/

body {
	padding-top: 15px;
}


#infoSearch{
	z-index: 2;
	position: relative;
	cursor:pointer;
	margin-left: 10px;
	margin-right:-60px;
}

#infoConnected{
	z-index: 2;
	cursor:pointer;
	position: relative;
	left:45px;
}

#btnSend {
	margin-left: 10px;
}

#btnConnected {
	margin-left: 10px;
}

#propertiesBox {
	overflow: auto;
	padding-left: 10px;
	height: 612px;
	width: auto;
	background:white;
	border: 1px solid #CCCCCC;
	z-index: 3;
}

.col{
	margin-left: 10px;
	z-index: 1;
	position: relative;
}

#graphContainer{
	margin-left:-5px;
	z-index: 0;
}

.dropdown-item {
	cursor: pointer;
}
.dropdown-item:active,
.dropdown-item.active {
  color: white !important;
}


/* node and link style */ 
svg {
	border: 1px dashed #CCCCCC;
}

circle {
	cursor: pointer;
	stroke-width: 1.5px;
}

text {
	font: 10px arial;
	pointer-events: none;

}

path {
	stroke: DimGrey;
	stroke-width: 1.5px;
}



/* node menu */
#control-icon-group {
	cursor: pointer;
}

g.lockIcon path {
	stroke: white;
	fill:white;
	stroke-width: 1.5px;
}

g.infoIcon path {
	stroke: white;
	fill:white;
	stroke-width: 1.5px;
}

g.crossIcon path {
	stroke: white;
	fill: white;
	stroke-width: 1.5px;
}

g path.overlay {
	fill: #007bff;
	stroke: white;
	stroke-width: 1px;
	
}

.table-hover tbody tr:hover td {
    background: #fcc200;
}


/* legend */

#legend{
	display: block;
	position: relative;
	font-size: 12px;
	width:120px;
	left:1150px;
	top:-655px;
	pointer-events: none;
}


.key-dot {
    display: block;
    height: 10px;
    margin-top: 5px;
    margin-right: 5px;
    width: 10px;
    border:1px solid black;

}

.green { background: #66c2a5;}
.yellow { background: #fc8d62;}
.blue { background: #1e90ff;}